.env
/.idea/
/.ipynb_checkpoints/
/ch02_accessing_claude_with_the_api/__pycache__/
/ch02_accessing_claude_with_the_api/.ipynb_checkpoints/
/ch03_prompt_evaluation/__pycache__/
/ch03_prompt_evaluation/.ipynb_checkpoints/
/ch04_prompt_engineering_techniques/__pycache__/
/ch04_prompt_engineering_techniques/.ipynb_checkpoints/
/ch05_tool_use_with_claude/__pycache__/
/ch05_tool_use_with_claude/.backups/
/ch05_tool_use_with_claude/.ipynb_checkpoints/
/ch06_retrieval_augmented_generation/__pycache__/
/ch06_retrieval_augmented_generation/.ipynb_checkpoints/
/ch07_features_of_claude/__pycache__/
/ch07_features_of_claude/.ipynb_checkpoints/
/ch08_model_context_protocol/__pycache__/
/ch08_model_context_protocol/.ipynb_checkpoints/
/ch08_model_context_protocol/cli_project/.env/
/ch08_model_context_protocol/cli_project/.venv/
/ch08_model_context_protocol/cli_project/.ipynb_checkpoints/
/ch08_model_context_protocol/cli_project/uv.lock
